<script type="text/javascript">
//<![CDATA[
    var https = "https:" == document.location.protocol;
    var gaJsHost = https ? "https://ssl." : "http://www.";
    document.write(unescape(
        "%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' "
        + "type='text/javascript'%3E%3C/script%3E"
    ));
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
    try {
        var pageTracker = _gat._getTracker("UA-1078484-1");
        pageTracker._trackPageview();
    } catch(err) {}
//]]>
</script>

